<div class="login-card mt-5">
    <div class="login-body  text-center w-40 p-5 m-auto  text-center shadow-lg rounded-lg">
      <h4>Sign In</h4>
      <form action="" class="mb-2">   
           <div class="mb-4">
               <input type="text" name="" id="" class="form-control rounded shadow-lg" placeholder="User Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Help text</small>    
           </div>

            <div class="mb-4">
                <input type="text" name="" id="" class="form-control rounded shadow-lg" placeholder="password" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Help text</small>
            </div>
        
            <button class="btn btn-primary rounded">
                SIGN IN
            </button>
      </form>

      <h6>Or Lgoin With </h6>
      <div class="socila-icons d-flex justify-content-center">
          <div (click)="signInWithFB()" class="facebook rounded-circle  bg-white px-3 py-2 ">
              <i class="fab fa-facebook-f"></i>
            </div>
            <div (click)="signInWithGoogle()" class="google rounded-circle  bg-white px-3 py-2 ">
                <img src="../../../assets/socila-imge/icon-google.png">
              </div>
              <div class="google rounded-circle  bg-white px-3 py-2 ">
                <p>Linkdin</p>
              </div>
      </div>

    </div>
</div>