<div class="container">
  <div class="d-flex justify-content-around mt-5">
     <!-- Add-issue -->
      <div class="add-issue">
        <a class="btn btn-danger p-4 shadow" routerLink='add-issue'>Add Issue</a>
      </div>
      <!-- Edit Issue  -->
      <!-- <div class="edit-issue">
        <a class="btn btn-danger p-4 shadow" routerLink='edit-issue'>Edit Issue</a>
      </div> -->
      <!-- Issue List -->
      <div class="issue-list">
        <a class="btn btn-danger p-4 shadow" routerLink='issue-list'>Issue List</a>
      </div>
  </div>
</div>
