<div class="container">
  <div class="d-flex justify-content-around mt-5">
    <!-- Forms -->
    <div class="forms">
      <a class="btn btn-primary p-4 shadow " routerLink= 'forms'>Forms</a>
    </div>
    <!-- Add List -->
    <div class="add-list">
        <a class="btn btn-primary p-4 shadow "  routerLink= 'add-list'>Add List</a>
      </div>
    <!-- Http -->
    <div class="https">
        <a class="btn btn-primary p-4 shadow " routerLink= 'https-client'>Https</a>
      </div>
   <!-- Challeng -->
    <div class="https">
      <a class="btn btn-primary p-4 shadow " routerLink= 'challenge'>Challeng</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
